#logo{
    width: 100px;
}

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-top: 0;
    text-align: center;
    padding: 10px;
}


@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/*INTERFACE DOS CURSOS*/
/* Define uma grade com duas colunas e um espaçamento entre as células de 20px */
.course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Estilo básico para cada cartão de curso */
.course-card {
    position: relative;
    border-radius: 5px; /* Arredonda as bordas do cartão */
    overflow: hidden; /* Garante que o conteúdo não vaze para fora do cartão */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra sutil */
    transition: transform 0.2s; /* Adiciona uma transição suave ao efeito de escala */
}

/* Quando o mouse passa sobre o cartão, ele aumenta ligeiramente de tamanho */
.course-card:hover {
    transform: scale(1.05);
}

/* Estilo para as imagens dos cursos */
.course-image {
    width: 20%;
    height: auto; /* Mantém a proporção da imagem */
}

/* Sobreposição que aparece quando o mouse passa sobre o cartão */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Fundo com transparência */
    color: #fff; /* Cor do texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Inicialmente, a sobreposição é invisível */
    transition: opacity 0.2s; /* Adiciona uma transição suave à opacidade */
}

/* Quando o mouse passa sobre o cartão, a sobreposição se torna visível */
.course-card:hover .overlay {
    opacity: 1;
}

/* Estilo para o título do curso */
.course-title {
    font-size: 1.0rem; /* Tamanho da fonte do título */
    margin: 0; /* Remove as margens padrão para evitar espaçamento indesejado */
}

/* Estilo para a descrição do curso */
.course-description {
    font-size: 0.5rem; /* Tamanho da fonte da descrição */
}

/* ELEMENTOS DA INTERFACE */

body {
    background-color: #e5e3e3;
    background-image: linear-gradient(180deg, #4e4c5d, rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

header, section, article {
    max-width: 700px;
}

header > h1 {
    color: white;
    text-shadow: 3px 3px 0px black;
}

main, section, article {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
}

footer {
    display: block;
    width: 100vw;
    background-color: #0c0c0d;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 5px;
}
footer a {
    margin-right: 10px;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

h2, h3, h4 {
    color: #0f0f0f;
    margin: 0 0 10px 0;
}

a {
    color: #15142b;
    padding: 0 3px;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: #000000;
    border-bottom: 1px solid #000000;
}

/* TABELAS E LISTAS */

table {
    min-width: 400px;
    border-spacing: 0px;
    border: 0.5px solid #000000;
    margin: 10px auto;
}

table th {
    background-color: #090909;
    color: white;
    padding: 5px;
    text-align: left;
}

table td {
    padding: 5px;
}

table tr {
    background-color: rgba(55, 41, 145, 0.05);
}

table tr:nth-child(odd) {
    background-color: rgba(55, 41, 145, 0.3);
}

table.divisao {
    border: 1px solid white;
}

table.divisao td {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
}

table.divisao  tr:nth-child(1) td:nth-child(2) {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(2) {
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(1) {
    text-decoration: underline;
}

ul > li::marker {
    color: #372991;
}

/* ELEMENTOS DE FORMULÁRIO */

form {
    background-color: rgba(55, 41, 145, 0.2);
    padding: 15px;
    border-radius: 10px;
}

form label {
    display: block;
    width: fit-content;
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

input[type=text], [type=number], select, input[type=date], input[type=date], input[type=datetime], input[type=email], input[type=month], input[type=password], input[type=range], input[type=tel], input[type=time], input[type=week] {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset] {
    width: 100%;
    background-color: #eb9903;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #c27013;
}

input[type=button], button {
    width: 100%;
    background-color: #372991;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover, button:hover {
    background-color: #858297;
}

fieldset {
    border: 0.5px dotted #372991;
}

fieldset > legend {
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(15, 15, 17, 0.2);
    padding: 3px 7px;
    border-radius: 5px;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: inline-block;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
}
